@use '$lib/styles/_constants' as var;

.feature {
	&-item {
		display: flex;
		align-items: stretch;
		justify-content: flex-start;
		gap: 24px;
		@media screen and (max-width: var.$desk-s) {
			flex-direction: column;
			align-items: center;
			gap: 0;
		}
	}
	&-animation {
		width: 470px;
		@media screen and (max-width: var.$desk-s) {
			margin-top: 72px;
			max-width: 100%;
		}
	}
	&-content {
		flex-grow: 1;
		padding: 40px 0;
		@include var.flex-col;
		@media screen and (max-width: var.$desk-s) {
			padding: 0;
			text-align: center;
		}
	}
	&-title {
		color: var(--moss-800);
		font-feature-settings:
			'liga' off,
			'clig' off;
		font-family: var(--mabry-font);
		font-size: 32px;
		font-weight: 500;
		line-height: 1.2;
		margin-bottom: 8px;
	}
	&-caption {
		color: var(--moss-600);
		font-size: 16px;
		font-weight: 400;
		line-height: 1.5;
		max-width: 400px;
		margin-bottom: 48px;
	}
	&-toggle-animation {
		display: flex;
		align-items: stretch;
		justify-content: flex-start;
		gap: 8px;
		@media screen and (max-width: var.$desk-s) {
			justify-content: center;
		}
		@media screen and (max-width: var.$tab-s) {
			gap: 2px;
		}
	}
	&-icon {
		background: var(--moss-400);
		@include var.flex-center;
		@include var.vhSquare(52px);
		border-radius: 52px;
		margin-top: 40px;
		@media screen and (max-width: var.$desk-s) {
			margin-top: 0;
			margin-bottom: 16px;
		}
	}

	&-item .toggle-btn {
		gap: 10px;
		padding: 16px 12px;
		border-radius: 16px;
		align-items: center;
		min-width: 92px;
		@include var.flex-col;
		cursor: pointer;
		transition: background-color 0.1s ease-in-out;
		@media screen and (max-width: var.$tab-s) {
			width: 70px;
			min-width: 70px;
			padding: 14px 8px;
		}

		&.active,
		&:hover {
			background-color: var(--moss-200);
		}

		&.active {
			span {
				font-weight: 600;
				color: var(--moss-800);
			}
		}
		span {
			color: var(--moss-600);
			font-size: 14px;
			line-height: 18px;
			word-break: break-all;
			transition:
				color 0.1s ease-in-out,
				font-weight 0.1s ease-in-out;
		}
	}
}

.feature-item {
	.icon-wrap {
		background: var(--moss-300);
		border-radius: 16px;
		@include var.vhSquare(52px);
		@include var.flex-center;
		@media screen and (max-width: var.$tab-s) {
			@include var.vhSquare(40px);
			border-radius: 12px;
			padding: 8px;
		}
	}
	.feature-toggle-account {
		@include var.flex-col;
		gap: 8px;
		@media screen and (max-width: var.$desk-s) {
			align-items: center;
		}
		&:has(.real:hover) {
			.practice {
				opacity: 0.7;
			}
		}
		button {
			width: 290px;
			padding: 8px 12px 8px 8px;
			border-radius: 16px;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 10px;
			&.practice {
				background-color: var(--moss-200);
				transition: opacity 0.2s ease-in-out;
				.checkmark {
					background-color: var(--moss-400);
				}
			}
			&.real {
				border: 1px solid var(--moss-200);
				position: relative;

				.checkmark {
					border: 1px solid var(--moss-400);
				}

				&:hover {
					.real-account-tooltip {
						opacity: 1;
					}
				}
			}

			.real-account-tooltip {
				position: absolute;
				padding: 20px;
				background-color: var(--moss-200);
				border-radius: 12px;
				left: -8px;
				right: -8px;
				top: 50%;
				margin-top: -25%;
				text-align: left;
				opacity: 0;
				transition: opacity 0.2s ease-in-out;

				a {
					margin-top: 12px;
					display: block;
					width: fit-content;
				}
			}
			span {
				flex-grow: 1;
				text-align: left;
				color: var(--oss-800);
				font-size: 16px;
				font-weight: 600;
				line-height: normal;
			}
			.checkmark {
				@include var.vhSquare(20px);
				@include var.flex-center;
				border-radius: 20px;
			}
		}
	}
}

@media screen and (max-width: var.$desk-s) {
	#feature-2 .feature-icon {
		margin-top: 40px;
	}
}

.feature-icon {
	transform: scale(0);
	opacity: 0;
	transition:
		opacity 0.4s ease,
		transform 0.4s ease;
}
.feature-icon.visible {
	opacity: 1;
	transform: scale(1);
}
