@use '$lib/styles/_constants' as var;

:root {
	--main-font: 'Inter', Arial, sans-serif;
	--mabry-font: 'Mabry Pro', Arial, sans-serif;

	--acid-400: #d0f244;
	--acid-300: #a8c435;
	--acid-200: #94b02a;

	--moss-50: #141815;
	--moss-100: #151a17;
	--moss-200: #1a1f1c;
	--moss-300: #222824;
	--moss-400: #28302b;
	--moss-500: #39453f;
	--moss-600: #818a85;
	--moss-700: ##d9dedb;
	--moss-800: ##f2f7f5;

	--forest-300: #006633;
	--forest-400: #29824d;
	--forest-600: #3bd177;

	--violet: #9747ff;

	--font-gradient: linear-gradient(#fffff7, rgba(247, 255, 250, 0.7));
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	overscroll-behavior: none;
	background-color: var(--moss-50);
}

body {
	min-width: 320px;
	font-family: var(--main-font);
	color: white;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	min-height: 100vh;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}

section {
	margin: 0 auto;
	width: 100%;
	max-width: 1440px;
	padding: 0 56px;

	@media screen and (max-width: var.$desk-s) {
		padding: 0 32px;
	}

	@media screen and (max-width: var.$tab-s) {
		padding: 0 24px;
	}

	@media screen and (max-width: var.$mob-l) {
		padding: 0 20px;
	}
}
