@use '$lib/styles/_constants' as var;

#lang-switcher-wrap {
	position: relative;

	.lang-switcher {
		display: flex;
		align-items: center;
		gap: 9px;
	}

	.button-medium {
		background-repeat: no-repeat;
		background-position: 12px center;
		padding-left: 40px;

		svg {
			transition: rotate 0.5s ease-out;
		}

		&.is-expanded {
			svg {
				rotate: 180deg;
			}
		}
		&.button-locale {
			&-en {
				background-image: url(/images/flags/flag_en.svg);
			}
			&-pt {
				background-image: url(/images/flags/flag_pt.svg);
			}
			&-es {
				background-image: url(/images/flags/flag_es.svg);
			}
		}
	}
}
