@use '$lib/styles/_constants' as var;
.devices {
	&-wrap {
		margin: 88px auto 0;

		border-radius: 48px;
		padding: 52px 20px;
		text-align: center;
		max-width: 690px;

		@media screen and (max-width: var.$tab-m) {
			flex-direction: column;
			text-align: center;
		}
	}
	&-content {
		&-title {
			line-height: 1.2;
			color: var(--moss-800);
			font-weight: 600;
			font-feature-settings:
				'liga' off,
				'clig' off;
			font-family: 'Mabry Pro';
			font-size: 32px;
			font-weight: 500;
		}
		&-desc {
			color: var(--moss-600);
			font-size: 16px;
			line-height: 1.5;
			font-weight: 400;
			margin-bottom: 32px;
			font-family: Inter;
		}
	}
	&-btns {
		display: flex;
		justify-content: center;
		gap: 20px;

		@media screen and (max-width: 728px) {
			gap: 16px;
		}

		@media screen and (max-width: 550px) {
			flex-direction: column;
			gap: 16px;
			align-items: center;
		}
	}
}

.device {
	&-btn {
		background-color: var(--moss-200);
		padding: 13px 18px 13px 12px;
		border-radius: 16px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		overflow: hidden;
		gap: 8px;
		cursor: pointer;

		@media screen and (min-width: 729px) {
			&:hover {
				.device-icon {
					svg {
						transform: translate(-50%, calc(-50% + 40px));
						opacity: 0;
					}
					.device-hover {
						transform: translate(-50%, -50%);
						opacity: 1;
					}
				}
			}
		}
	}
	&-icon {
		height: 40px;
		width: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		overflow: hidden;

		svg {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			transition:
				transform ease-in-out 0.4s,
				opacity 0.4s ease-in-out;
			opacity: 1;
		}

		.device-hover {
			transform: translate(-50%, calc(-50% - 40px));
			opacity: 0;
		}
	}
	&-text {
		line-height: 1.2;
		font-family: Inter;
		text-align: left;
	}
	&-app-name {
		color: var(--moss-800);
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 2px;
	}
	&-app-info {
		color: var(--moss-600);
	}
}
