@use '$lib/styles/_constants' as var;

.intro {
	padding-top: 64px;
	overflow: hidden;
	@media screen and (max-width: var.$tab-s) {
		padding-top: 40px;
	}
	@media screen and (max-width: var.$mob-l) {
		padding-top: 32px;
	}

	img {
		max-width: 100%;
	}

	&-text-content {
		padding-bottom: 80px;
		text-align: center;
		@media screen and (max-width: var.$tab-s) {
			padding-bottom: 64px;
		}
	}
}

h1 {
	font-size: 88px;
	line-height: 1.1;
	font-family: var(--mabry-font);
	font-weight: 500;

	background: var(--font-gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	@media screen and (max-width: var.$desk-s) {
		font-size: 72px;
	}
	@media screen and (max-width: var.$tab-m) {
		font-size: 48px;
	}
	@media screen and (max-width: var.$tab-s) {
		font-size: 40px;
	}
	@media screen and (max-width: var.$mob-l) {
		font-size: 32px;
	}
}

.h1-caption {
	margin-bottom: 40px;
	margin-top: 24px;
	color: var(--moss-600);
	font-size: 20px;
	line-height: 1.5;
	@media screen and (max-width: var.$mob-l) {
		font-size: 16px;
	}
}
.platform-image-wrap {
	position: relative;
	@media screen and (max-width: var.$tab-m) {
		width: 960px;
		max-width: unset;
	}
	.asset {
		position: absolute;
		width: 10.9%;

		img {
			width: 100%;
			height: auto;
		}

		&-0 {
			left: 23%;
			width: 3.5%;
			top: 9.3%;
		}

		&-1 {
			left: 27.2%;
			top: 9.3%;
		}

		&-2 {
			left: 38.8%;
			top: 9.3%;
			width: 10.6%;
		}

		&-3 {
			left: 50.1%;
			top: 9.3%;
			width: 12%;
		}

		&-4 {
			left: 62.9%;
			top: 9.3%;
			width: 3.5%;
		}

		&-5 {
			left: 74.5%;
			top: 9.3%;
			width: 4.4%;
		}
	}
}

.intro {
	@media screen and (min-width: (var.$desk-s + 1px)) {
		.asset {
			transform: translateY(-200px);
			transition: transform 0.7s ease-in-out;
			&-0,
			&-4 {
				transition-delay: 0.05s;
			}
			&-1,
			&-3 {
				transition-delay: 0.1s;
			}

			&-0 {
				transform: translate(-15vw, -360px) rotate(-3deg) scale(1.95);
			}
			&-1 {
				transform: translate(-26vw, -500px) rotate(-5deg) scale(1.8);
			}
			&-2 {
				transform: translate(-35vw, -160px) rotate(-5deg) scale(1.9);
			}
			&-3 {
				transform: translate(40vw, -310px) rotate(5deg) scale(1.9);
			}
			&-4 {
				transform: translate(32vw, -171px) rotate(4deg) scale(1.5);
			}
			&-5 {
				transform: translate(16vw, -450px) rotate(5deg) scale(2.5);
			}
		}
		&.active {
			.asset {
				transform: none;
			}
		}
	}
	@media screen and (min-width: 1600px) {
		&-0 {
			transform: translate(-10vw, -360px) rotate(-3deg) scale(1.95);
		}
		&-1 {
			transform: translate(-20vw, -500px) rotate(-5deg) scale(1.8);
		}
		&-2 {
			transform: translate(-25vw, -200px) rotate(-5deg) scale(1.9);
		}
		&-3 {
			transform: translate(26vw, -310px) rotate(5deg) scale(1.9);
		}
		&-4 {
			transform: translate(23vw, -171px) rotate(4deg) scale(1.5);
		}
		&-5 {
			transform: translate(9vw, -500px) rotate(5deg) scale(2.5);
		}
	}
}

.devices {
	&-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 16px;
		margin-top: 88px;

		@media screen and (max-width: var.$tab-m) {
			flex-direction: column;
			text-align: center;
		}
	}
	&-content {
		&-title {
			font-size: 18px;
			line-height: 1.5;
			color: var(--moss-800);
			font-weight: 600;
		}
		&-desc {
			color: var(--moss-600);
			font-size: 16px;
			line-height: 1.5;
			font-weight: 400;
		}
	}
	&-icons {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 12px;
		padding: 12px 16px;
		border-radius: 14px;
		background-color: var(--moss-200);
		a {
			svg {
				transition: fill 0.2s ease-in-out;
				fill: var(--moss-600);
			}
			&:hover svg {
				fill: var(--acid-400);
			}
			&:active svg {
				fill: var(--acid-200);
			}
		}
	}
}
